/*Esta es la clase para el titulo*/
.titulo{
    text-align: center;
    color: #FFFFFF;
    font-size: 350%;
    font-family: serif;
}
/*Estilo del body*/
.body{
    margin: 0;
    padding: 0;
    background: #30E8BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #82f0047c, #30e8c088);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #82f0047c, #30e8c088);
    
}

.body-pagina-inicio{
    width: 100%;
    height: 600px;
    background: #30E8BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff82357c, #30e8c088) ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #ff82357c, #30e8c088);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


/*Aqui le hago que todo lo que esté en la clase row se ponga en el centro*/
.estilo-row{
    justify-content: center;
    align-items: center;
}
/*se le está aplicando estas reglas de estilos a cada una de las clases, 
todas tendran el mismo valor*/
#login .container #login-row #login-colum #login-box{
margin-top: 70px;
max-width: 600px;
height: 300px;
border-radius: 6px;
box-shadow: 2px 2px 2px 2px #ffebcd;
justify-content: center;
align-items: center;
}
/*Estilo al titulo "Iniciar sesión"*/
.estilo-row-1{
    justify-content: center;
    display: flex;   
    color: #2c6b6b;
    font-size: 30px;
    font-family: Arial;  
}

.estilo-row-1:hover{
    color: black;
}

.letra-pagina-inicio{
    color: #2c6b6b;
    font-family: initial;
}

.letra-pagina-inicio:hover{
    color: #50db0f;
    font-family: cursive;
}

